<!-- raiz-component:formside -->
<div class="wrapperForm">
	<span class="titleBar" raiz-event="this.e.togglePanel">{{this.attr.title || "Contact"}}</span>
	<form>
		<div class="defaultinputs">
			<input type="text" name="name" placeholder="Nome:" required>
			<input type="text" name="email" placeholder="Email:" required>
			<input type="text" name="phone" placeholder="Telefone:" required>
			<textarea name="message" placeholder="Mensagem" required></textarea>
		</div>
		<div class="outerinputs">{{this.body}}</div>
		<button type="submit">{{this.attr.btsend || "Send" }}</button>
		<div class="response"></div>
	</form>
</div>
